#title{
  background-color: rgb(226, 73, 99);

}
.ff1{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;

}
.ff2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}
.container-fluid{
margin: 2% 10% 2% 10%;
}
.paddingtopm{
margin-top:15%;

}
.btn-padding{
  margin-right: 5%;
}
.rot{
	padding-top:30px;
width: 80%;

align:left;
 position:absolute;

}
#features{
  padding: 5% 15%;
  background-color: white;
  position: relative;
  z-index: +1;
}
.fb{
  text-align: center;
  padding: 5%;
}
p{
  color: #8f8f8f;
}
#testimonials,#press{
  background-color: rgb(226, 73, 99);
  text-align: center;

  }
.roundimg{
  width:20%;
  margin-right: 4%;

}
.margined{
  padding: 5% 15%;
}

.smallesize{
  padding: 0 15% 4%;

}
#pricing{
  text-align: center;
  padding: 4% 15%;
}
#cta{
  text-align: center;
  padding: 4% 15%;
  color: white;
    background-color: #282C35;
}
.sg{
font-size: 50px;
padding: 0 2% 2%;
}
.sgc{
  color:#282C35;
}
.sgc:hover{
  color:#5F5F5F;
}
.av {
  /* Rounded border */
   /* Some padding */
  width: 60%%;
height:50%;  /* Set a small width */
}
.sizr{
font-size:38px;
}
@media (max-width: 1200px) {
  .rot{
  width: 0%;
   transform: rotate(0deg);

   position: relative;

  }
}
